{% extends 'base.html' %}

{% block content %}
<div width=800 class="fb-page" data-href="https://www.facebook.com/Java-Real-Estate-Developers-LLC-114575283421745" data-tabs="timeline" data-width="800" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
    <blockquote cite="https://www.facebook.com/Java-Real-Estate-Developers-LLC-114575283421745" class="fb-xfbml-parse-ignore">
        <a href="https://www.facebook.com/Java-Real-Estate-Developers-LLC-114575283421745">Java Real Estate Developers, LLC</a>
    </blockquote>
</div>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0"></script>
{% endblock content %}