{% extends 'base.html' %}

{% block content%}
    <form method="POST">
        <label for="street">Street</label>
        <input type="text" name="street" id="street" required>

        <label for="city">City</label>
        <input type="text" name="city" id="city" required>

        <label for="state">State</label>
        <select name="state" id="state" required>
            {% for state in states %}
                <option value="{{ state }}">{{ state }}</option>
            {% endfor %}
        </select>

        <input type="submit">
    </form>

    {% if Property %}
        <a href="{{ Property.url }}""><h1>{{ Property }}</h1></a>
        <strong>Longitude: </strong><span>{{ Property.longitude }},
         <strong>Latitude: </strong><span>{{ Property.latitude }}</span>
        <br />
        
        <hr />
        <h2><u>Nearby Points of Interest</u></h2>
        <table>
            <tbody>
                {% for Type, POIs in Property.POIs.items() %}
                    <tr><td><h3>{{ Type }}</h3></td></tr>
                    {% for POI in POIs %}
                        <tr>
                            <td>{{ POI.name }}</td>
                            <td>{{ POI.address }}</td>
                            <td>{{ POI.km_to_mi(POI.distance) }} miles away</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}