{% extends 'base.html' %}

{% block content%}
    <form method="POST">
        <label for="street">Street</label>
        <input type="text" name="street" id="street" required>

        <label for="city">City</label>
        <input type="text" name="city" id="city" required>

        <label for="state">State</label>
        <select name="state" id="state" required>
            {% for state in states %}
                <option value="{{ state }}">{{ state }}</option>
            {% endfor %}
        </select>

        <input type="submit">
    </form>

    {% if Property %}
        <a href="{{ Property['url'] }}""><h1>{{ Property["location"]["address"] }}</h1></a>
        <strong>Longitude: </strong><span>{{ Property["location"]["longitude"]}},
         <strong>Latitude: </strong><span>{{ Property["location"]["latitude"]</span>
    
    {% endif %}
{% endblock %}